.ya{
    display: grid;
}
.fa{
    font-size: 3rem;
}
button{
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
}
.grupo{    
    display: grid;
    grid-row: 2;
    margin: 2rem 0;
    text-align: center;
    justify-content: center;
}