<div class="contenedor1 total">
    <h2 class="titulo">Bienvenido!</h2>
    <div class="borde">
        <div class="borde__button dos">
            <button routerLink="inicio" routerLinkActive="active"><i class="fa fa-sign-in"></i></button>
            <label>Inicio</label>
        </div>
        <div class="borde__button dos">
            <button routerLink="salida" routerLinkActive="active"><i class="fa fa-sign-out"></i></button>
            <label>Salir</label>
        </div>
        <div class="borde__button"> 
            <button routerLink="registro" routerLinkActive="active"><i class="fa fa-edit" ></i></button>
            <label>Registro</label>
        </div>
    </div>
</div>
