
<button (click)="acceder_camara()" *ngIf="stream!==null">Encender Camara</button>
<div class="uno">
    <webcam [trigger]="$trigger" (imageCapture)="snapshot($event)" ></webcam>
    <div *ngIf="imagen!==''">
        <h3>¿ En esta imagen solo aparece el visitante ?</h3>
        <img [src]="imagen" class="foto">
        <div>
            <button (click)="enviarFoto()" >Si</button>
            <button (click)="tomarFoto()">Volver a tomar la foto</button>
        </div>
    </div>
</div>
<button (click)="tomarFoto()" *ngIf="imagen===''">Foto</button>
<!-- <button (click)="pisoAdd()" >getvisitante</button> -->

