
<button (click)="acceder_camara()" *ngIf="stream!==null">Encender Camara</button>
<div class="uno">
    <webcam [trigger]="$trigger" (imageCapture)="snapshot($event)" ></webcam>
    <div *ngIf="imagen!==''">
        <h3>¿ En esta imagen aparece el visitante ?</h3>
        <img [src]="imagen" class="foto">
        <div>
            <button routerLink="" routerLinkActive="active">Si</button>
            <button (click)="tomarFoto()">Volver a tomar la foto</button>
        </div>
    </div>
</div>
<button (click)="tomarFoto()" *ngIf="imagen===''">Foto</button>
<!-- <div>
    <div class="list">
        <h2>Full</h2>
        <button (click)="visit()">Visitantes</button>
        <button (click)="habit()">Habitaciones</button>
        <button (click)="paci()">Pacientes</button>
        <button (click)="piso()">Pisos</button>
    </div>
    <div class="id">
        <h2>ID</h2>
        <button (click)="visitID()">Visitantes</button>
        <button (click)="habitID()">Habitaciones</button>
        <button (click)="paciID()">Pacientes</button>
        <button (click)="pisoID()">Pisos</button>
    </div>
    <div class="add">
        <h2>Add</h2>
        <button (click)="visitAdd()">Visitantes</button>
        <button (click)="habitAdd()">Habitaciones</button>
        <button (click)="paciAdd()">Pacientes</button>
        <button (click)="pisoAdd()">Pisos</button>
    </div>
    <div class="delete">
        <h2>Delete</h2>
        <button (click)="visitAdd()">Visitantes</button>
        <button (click)="habitAdd()">Habitaciones</button>
        <button (click)="paciAdd()">Pacientes</button>
        <button (click)="pisoDelete()">Pisos</button>
    </div>
</div> -->